name: tagpr

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  tagpr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        id: app-token
        with:
          app-id: ${{ vars.TAGPR_APP_ID }}
          private-key: ${{ secrets.TAGPR_APP_PRIVATE_KEY }}

      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98 # v4.3.1
        with:
          token: ${{ steps.app-token.outputs.token }}

      - uses: Songmu/tagpr@39bf0bcd1f7ba113b93eb491864ab8df471ad1d6 # v1.14.0
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
